<template>
  <div class="pb-10">
    <div class="relative px-4 py-2">
      <div class="mx-4">
        <p
          class="block px-10 mb-5 text-xl font-medium leading-tight text-center text-gray-800"
        >
          Drei einfache Schritte zu deinem neuen Mitarbeiter
        </p>
        <img
          src="/image-1.png"
          srcset="/image-1.png 1x, /image-1@2x.png 2x"
          alt="image"
          class="relative z-40 block mx-auto"
        />
        <div class="relative flex items-center justify-between">
          <h1 class="relative z-40 mb-0 font-bold text-gray-700 text-7xl">
            1.
          </h1>
          <p class="relative z-40 px-10 mb-0 text-lg text-gray-700">
            Erstellen dein Lebenslauf
          </p>
        </div>
      </div>
      <div
        class="absolute bottom-0 left-0 z-0 w-48 h-48 bg-gray-100 rounded-full"
      ></div>
    </div>
    <div class="relative py-6">
      <div class="px-4">
        <div class="relative flex items-center justify-between px-3">
          <h1 class="relative z-40 mb-0 font-bold text-gray-700 text-7xl">
            2.
          </h1>
          <p class="relative z-40 px-6 mb-0 text-lg text-gray-700">
            Erhalte Vermittlungs- angebot von Arbeitgeber
          </p>
        </div>
        <img
          src="/image-7.png"
          srcset="/image-7.png 1x, /image-7@2x.png 2x"
          alt="image"
          class="relative z-40 block mx-auto -mt-10"
        />
      </div>
      <div class="absolute top-0 left-0 w-full h-auto">
        <WaveSvg></WaveSvg>
      </div>
    </div>
    <div class="relative px-4 my-6">
      <div class="relative flex items-center justify-between px-3">
        <h1 class="relative z-40 mb-0 font-bold text-gray-700 text-7xl">3.</h1>
        <p class="relative z-40 px-6 mb-0 text-lg text-gray-700">
          Vermittlung nach Provision oder Stundenlohn
        </p>
      </div>
      <img
        src="/image-6.png"
        srcset="/image-6.png 1x, /image-6@2x.png 2x"
        alt="image"
        class="relative z-40 block mx-auto"
      />
      <div
        class="absolute top-0 left-0 z-0 bg-gray-100 rounded-full w-300 h-300"
      ></div>
    </div>
  </div>
</template>
<script>
import WaveSvg from "~/components/WaveSvg";

export default {
  name: "ArbeitgeberComponent",
  components: {
    WaveSvg,
  },
};
</script>
