<template>
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 718.5 127.39">
      <defs>
        <style>
          .cls-3 {
            fill: #fff;
          }
        </style>
      </defs>
      <g id="Layer_2" data-name="Layer 2">
        <g id="Layer_1-2" data-name="Layer 1">
          <path
            class="cls-3"
            d="M673,52.61C614.64,7.14,503.58-42.9,359.68,62.39,306,101.64,239.44,111.32,170.91,109.87c-48.49-1-106.38-5.46-170.91-34.48v52H718.5C718.5,92.46,702,75.18,673,52.61Z"
          />
        </g>
      </g>
    </svg>
  </div>
</template>
<script>
export default {
  name: "WaveTop",
};
</script>
