<template>
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 677.42 553">
      <defs>
        <style>
          .cls-1 {
            fill: #e6fffa;
          }
        </style>
      </defs>
      <g id="Layer_2" data-name="Layer 2">
        <g id="Layer_1-2" data-name="Layer 1">
          <path
            class="cls-1"
            d="M677.42,22V516.12C599.31,548.83,472.32,587,311.27,498c-16.14-8.93-35.16-12.91-54-15.46-46.62-6.29-153.68-3.35-257.3,44.87V4.92c114.67,68,244,72.62,296.58,65.53,18.81-2.55,37.83-6.53,54-15.46C486.92-20.36,598.88-4.54,677.42,22Z"
          />
        </g>
      </g>
    </svg>
  </div>
</template>
<script>
export default {
  name: "WaveSvg",
};
</script>
