@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-blue-50;
  @apply overflow-x-hidden;
}

.shadow-rf {
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
}

.top-rf {
  top: -3.8rem;
}

.scroll-hide::-webkit-scrollbar {
  background: transparent !important;
}

.text-white {
  color: #fff !important;
}
