<template>
  <div>
    <div
      class="fixed top-0 left-0 z-50 w-full overflow-hidden bg-white shadow-md bg-gradient-to-r rounded-b-2xl from-green-500 to-blue-500"
    >
      <div
        class="flex items-center justify-end w-full h-full px-4 py-6 mt-1 bg-white px"
      >
        <nuxt-link to="#" class="font-semibold text-green-500">Login</nuxt-link>
      </div>
    </div>
    <div
      class="fixed bottom-0 left-0 z-50 flex items-center justify-end w-full px-4 py-6 bg-white shadow-rf rounded-t-2xl"
    >
      <nuxt-link
        to="#"
        class="w-full px-4 py-2 text-center text-white rounded-xl hover:border-2 bg-gradient-to-r from-green-500 to-blue-500"
        >Kostenlos Registrieren</nuxt-link
      >
    </div>
    <div class="flex items-center justify-center pt-10 mt-10">
      <div>
        <p
          class="block px-5 pt-10 mb-5 text-5xl font-medium leading-tight text-center"
        >
          Deine Job website
        </p>
        <img
          src="/undraw_agreement_aajr.png"
          srcset="
            /undraw_agreement_aajr.png    1x,
            /undraw_agreement_aajr@2x.png 2x
          "
          alt="image"
        />
      </div>
    </div>
    <div class="relative w-full pt-6 mt-10 bg-white shadow-md">
      <div class="absolute left-0 w-full h-auto top-rf">
        <WaveTop></WaveTop>
      </div>
      <div class="pt-2 border-t-2 border-gray-100">
        <ul
          class="flex items-center justify-start p-0 py-4 mx-4 overflow-x-auto rounded scroll-hide"
        >
          <li
            :class="[
              'px-6 py-2 ml-2 text-sm font-bold  border-t-2 border-b-2 border-l-2 border-gray-200 rounded-l-xl hover:bg-teal-300 hover:text-white text-teal-500',
              {
                'text-white bg-teal-300':
                  currentComponent == 'ArbeitnehmerComponent',
              },
            ]"
            @click="switchComponent('ArbeitnehmerComponent')"
          >
            Arbeitnehmer
          </li>
          <li
            :class="[
              'px-6 py-2 text-sm font-bold  border-2 border-gray-200 hover:bg-teal-300 hover:text-white text-teal-500',
              {
                'bg-teal-300 text-white':
                  currentComponent == 'ArbeitgeberComponent',
              },
            ]"
            @click="switchComponent('ArbeitgeberComponent')"
          >
            Arbeitgeber
          </li>
          <li
            :class="[
              'px-6 py-2 text-sm font-bold  border-t-2 border-b-2 border-r-2 border-gray-200 rounded-r-xl hover:bg-teal-300 hover:text-white text-teal-500',
              {
                'bg-teal-300 text-white':
                  currentComponent == 'TemporärbüroComponent',
              },
            ]"
            @click="switchComponent('TemporärbüroComponent')"
          >
            Temporärbüro
          </li>
        </ul>
      </div>
      <div class="pb-10 mb-10">
        <KeepAlive>
          <component :is="currentComponent"></component>
        </KeepAlive>
      </div>
    </div>
  </div>
</template>

<script>
import ArbeitnehmerComponent from "~/components/ArbeitnehmerComponent";
import ArbeitgeberComponent from "~/components/ArbeitgeberComponent";
import TemporärbüroComponent from "~/components/TemporärbüroComponent";

import WaveTop from "~/components/WaveTop";

export default {
  components: {
    ArbeitnehmerComponent,
    ArbeitgeberComponent,
    TemporärbüroComponent,
    WaveTop,
  },
  asyncData({ query }) {
    if (query && query.current) {
      return { currentComponent: query.current };
    }
    return { currentComponent: "ArbeitnehmerComponent" };
  },

  data() {
    return {};
  },
  methods: {
    switchComponent(component) {
      this.currentComponent = component;
      this.$router.push(`/?current=${this.currentComponent}`);
    },
  },
};
</script>
